.layout {
  margin-top: 60px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}

.clientsList {
  margin: auto;
  padding: 36px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  gap: 48px;
  justify-content: center;
  justify-content: flex-start;
}

@media (max-width: 1255px) {
  .clientsList {
    justify-content: center;
  }
}

.title {
  margin: 0;
}
